<div class="page" id="top">            
    <%= render 'college_verification/header'%> 


    <!-- Section -->
    <section class="small-section" id="multi-page">
        <div class="container relative">                     
            <div class="row">
                <!--<%= form_tag(:payment_details, :method => "get", :html => { :class => 'form contact-form', :id => 'contact_form'}) do %>
                    <div class="clearfix">                                                  
                        <div class="form-group row">
                            <div class="col-md-6">
                                <input type="text" name="search_tag" id="search_tag" class="input-md round form-control" placeholder="Search by Transaction ID">
                            </div>
                            <div class="col-md-2">
                                <%= submit_tag "Search", :class => "submit_btn btn btn-mod btn-medium btn-round"%>
                            </div> 
                        </div>
                    </div>
                <% end %>
                <hr>-->
                <%= form_tag(:payment_details, :method => "get", :html => { :class => 'form contact-form', :id => 'payment_form'}) do %>
                    <div class="clearfix">                                                  
                        <div class="form-group row">
                            <div class="col-md-2" style="font-size: 16px; color: #4C4A47; margin-top: 6px;">Search date range</div>
                            <div class="col-md-4">
                                <div class="input-group input-daterange">
                                    <input name="fromdate" id="fromdate" type="text" class="form-control" value=<%=@searched==true ? @fromDate: ""%>>
                                    <span class="input-group-addon">to</span>
                                    <input name="todate" id="todate" type="text" class="form-control" value=<%=@searched==true ? @toDate: ""%>>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <%= submit_tag "Search", :class => "submit_btn btn btn-mod btn-medium btn-round"%>
                            </div> 
                            <% if @payments.present? %>    
                            <div class="col-md-4">
                                <a href="/college_payment_report.pdf?fromdate=<%=@fromDate%>&todate=<%=@toDate%>" target="blank" style="cursor: pointer; font-size: 22px;"><i class="fa fa-download dark" style="padding: 5px 10px;"></i>Download Report</a>
                            </div> 
                            <%end%>
                        </div>
                    </div>
                <% end %> 
                
                <div class="mb-40 table-responsive " style="margin-top: 20px;">
                    <% if !@payments.present? %>    
                        <% if @searched == true %>    
                            <div class="jumbotron align-center">
                                <p>No payments match search criteria.</p>
                            </div>
                        <%end%>
                        
                    <%else%>
                        
                        <table class="table table-striped ">
                            <thead style="background: dimgrey; color: white;">
                              <tr>
                                <th>Sl. no.</th>
                                <th>Verification ID</th>
                                <th>Transaction ID</th>
                                <th>Student Name</th>
                                <th>HT Number/ Reg. No.</th>
                                <th>Transaction Date and Time</th>
                                <th>Amount Paid</th>
                                <th>Paid on</th>
                              </tr>
                            </thead>
                            <tbody>
                            <% @payments.each_with_index do |payment, i| %>
                                <%
                                    @verification_stub = VerificationRequest.find_by(payment_id: payment.id)
                                    @college = College.find_by(id: @verification_stub.college_id)
                                %>
                              <tr>
                                <td><%=i+1%></td>
                                <td style="text-transform: uppercase;"><%=@verification_stub.verification_token%></td>
                                <td style="text-transform: uppercase;"><%=payment.transaction_id%></td>
                                <td><%=@verification_stub.name%></td>
                                <td style="text-transform: uppercase;"><%=@verification_stub.hallticket_no%></td>
                                <td><%=local_time(payment.created_at + 330.minutes, '%d/%m/%Y %l:%M%p')%></td>
                                <td>Rs <%=@college.verification_amount%></td>                       
                                <td><%=local_time(payment.created_at + 330.minutes, '%d/%m/%Y')%></td>
                              </tr>
                              
                            <% end %>
                            </tbody>
                        </table>
                        <%= will_paginate @payments %>

                    <%end%>
                </div>
            </div>           
        </div>
    </section>
    <!-- End Section -->
</div>