<%= content_tag "div", id: "rails-data", data: {student_id: current_user.id, college_id: @college_id, form: (@s3_direct_post.fields), url: @s3_direct_post.url, host: URI.parse(@s3_direct_post.url).host } do %><% end %>

<div class="page" id="top">            
    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-50 " data-background=<%= asset_url("full-width-images/landing.jpg")%> style='background-image:url(<%= asset_url("full-width-images/landing.jpg")%>)' id="home">
       <div class="container">            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text" style="    padding: 100px 0px 45px 0px;">
                    
                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                       Verification
                    </h1>                    
                    <div class="local-scroll hidden-xs">
                       <%= link_to "Apply", apply_path, :class => "btn btn-mod btn-border-w btn-medium btn-round", :style =>"background: #fff;color: #111;border-color: transparent;" %>
                        <span>&nbsp;</span>
                        <%= link_to "Status", status_path, :class => "btn btn-mod btn-border-w btn-medium btn-round" %>
                        <span>&nbsp;</span>
                        <%= link_to "History", history_path, :class => "btn btn-mod btn-border-w btn-medium btn-round" %>
                    </div>                    
                </div>
            </div>
            <!-- End Hero Content -->            
       </div>
    </section>
    <!-- End Home Section -->


    <!-- Section -->
    <section class="page-section">
      <div class="container relative">
          
          <!-- Row -->
          <div class="row">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
              
              <!-- Col -->
              <div class="col-sm-4 mb-40">
                  
                  <!-- Form -->
                  <form id="form" role="form" class="form" onsubmit="event.preventDefault();">
                      <div id="error_explanation"></div>
                      <div class="mb-20 mb-md-10">
                        <%= select_tag :college, options_from_collection_for_select(@colleges, "id", "name", @selected_college_index), include_blank: "Select College", class: "input-md form-control", required: true %>
                        <p id="verification-amount" name="verification-amount" class="help-block"style="padding-left: 2px;">
                              Verification fees INR <span id="verification_amount_lable">0</span>&nbsp;<i style="display: none; -webkit-animation: spinner 3s infinite linear; -moz-animation: spinner 3s infinite linear;
                              -ms-animation: spinner 3s infinite linear; -o-animation: spinner 3s infinite linear;
                              animation: spinner 3s infinite linear;" id="verification_amount_loader" class="fa fa-gear dark"></i>
                          </p>
                      </div>

                      <div class="mb-20 mb-md-10">
                          <!-- Name -->
                          <input type="text" name="name" id="name" value="<%= current_user.name %>" class="input-md form-control" placeholder="Name" maxlength="100">
                      </div>

                      <div class="mb-20 mb-md-10">
                          <!-- Hallticket Number -->
                          <input type="text" name="hallticket_no" id="hallticket_no" value="" class="input-md form-control" placeholder="Hallticket Number" maxlength="100">
                      </div>
                      
                      <div class="mb-20 mb-md-10">
                          <label for="exampleInputFile">
                              Upload document to verify
                          </label>
                          <input type="file" id="verify_document">
                          <p class="help-block">
                              NOTE: File size should be less that 512KB
                          </p>
                      </div>

                      <div class="align-right pt-10 form-group">                            
                        <%= submit_tag "Add", :class => "submit_btn btn btn-mod btn-medium btn-round",:id =>"add_verification"%>
                      </div>
                      
                                                  
                  </form>
                  <!-- End Form -->
                  
              </div>
              
              <!-- End Col -->
              
              <!-- Col -->
              
              <div class="col-sm-8 mb-40 table-responsive scrollable-table">
                  <table class="table table-striped ">
                    <thead>
                      <tr>
                        <th>College</th>
                        <th>Name</th>
                        <th>Hallticket Number</th>
                        <th>Document</th>
                        <th>Fees</th>
                      </tr>
                    </thead>
                    <tbody id="verifications_tbody">
                      <!-- <tr>
                        <td>xyz</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Rs 1,000</td>
                      </tr>
                      <tr>
                        <td>xyz</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>Rs 500</td>
                      </tr> -->
                
                    </tbody>
                  </table>
                  <div class="clearfix">
                                    
                    <div class="cf-left-col " style="text-align: right;">
                      <div class="ci-text" style="font-size: 25px;">Amount payable Rs <span id="verification_amount_total_lable">0</span></div>                       
                      <div class="form-tip"><i class="fa fa-info-circle"></i> 5% service charge applied</div>
                    </div>
                    
                    <div class="cf-right-col">
                        
                        <!-- Send Button -->
                        <div class="align-right pt-10 form-group">                            
                          <%= submit_tag "Procced to pay", :class => "submit_btn btn btn-mod btn-medium btn-round", :id => "btnProceedToPay" %>
                        </div>
                        
                    </div>
                      
                  </div>
              
              <!-- End Col -->
              
          
          </div>
          <!-- End Row -->
          
      </div>
  </section>
    <!-- End Section -->
</div>