<div class="page" id="top">            
    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-50 "  id="home">
       <div class="container">            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text" style="    padding: 100px 0px 45px 0px;">
                    
                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                       Verification
                    </h1>                    
                    <div class="local-scroll hidden-xs">
                        <%= link_to "Apply", apply_path, :class => "btn btn-mod btn-border-w btn-medium btn-round"%>
                        <span>&nbsp;</span>
                        <%= link_to "Status", status_path, :class => "btn btn-mod btn-border-w btn-medium btn-round" %>
                        <span>&nbsp;</span>
                        <%= link_to "Payment History", history_path, :class => "btn btn-mod btn-border-w btn-medium btn-round", :style =>"background: #fff;color: #111;border-color: transparent;" %>
                    </div>                    
                </div>
            </div>
            <!-- End Hero Content -->            
       </div>
    </section>
    <!-- End Home Section -->


    <!-- Section -->
    <section class="small-section" id="multi-page">
        <div class="container relative">            
            <!--<h2 class="section-title font-alt mb-60 mb-sm-30">
                Multi Page Demo
            </h2> -->            
            <div class="row">                
                <div class="mb-40 table-responsive ">
                    <% if @payments.blank? %>    
                        <div class="jumbotron align-center">
                            <p>No payment has been made yet. Please <%= link_to "apply", apply_path%> for document verification  </p>
                        </div>
                    
                    
                    <%else%>
                        <table class="table table-striped ">
                            <thead style="background: dimgrey; color: white;">
                              <tr>
                                <th>Payment ID</th>
                                <th>Amount</th>
                                <th>Mode of Payment</th>
                                <th>Payment Status</th>
                                <th>Date</th>
                              </tr>
                            </thead>
                            <tbody>
                            <% @payments.each do |payment| %>
                              <tr>
                                <td>payment.transaction_id</td>
                                <td>payment.amount</td>
                                <td>payment.mode_of_payment</td>
                                <td>payment.created_at</td>
                              </tr>
                            <% end %>
                            </tbody>
                        </table>
                        <%= will_paginate @payments %>
                    <%end%>

                </div>
            </div>       
        </div>
    </section>
    <!-- End Section -->
</div>