
<table style="width:100%;">
	<tr class="report_letter_head" >
		<td style="width:100%;" colspan="2"><img src="<%=@college.report_datum.header.url%>" style="width:100%;"/></td>
	</tr>

	<tr><td><br></td></tr>
	<tr>
		<td><%=@college.report_datum.from_address%></td>
		<td align="right"><%=local_time(Time.current.in_time_zone("Chennai"), '%d/%m/%Y')%></td>
	</tr>
	
	<tr><td><br></td></tr>
	<tr><td align="center" style="width:100%;" colspan="2"><%=@college.report_datum.letter_title%></td></tr>

	<tr><td><br></td></tr>
	<tr><td><%=(@college.report_datum.to_address.sub! '_USER_TO_ADDRESS_', "#{@user.address}<br/>#{@user.city} - #{@user.pincode}<br/>#{@user.state}").html_safe%></td></tr>

	<tr><td><br></td></tr>
	<tr><td>Sir/Madam,</td></tr>

	<tr><td><br></td></tr>
	<tr><td align="center" style="width:100%;" colspan="2"><%=("<strong>SUB:&nbsp;#{@college.report_datum.subject}</strong>").html_safe%></td></tr>

	<tr><td><br></td></tr>
	<tr><td style="width:100%;" colspan="2"><%=(@college.report_datum.body.sub! '_STATUS_', "<strong>#{@verification_stub.verification_status.description}</strong>").html_safe%></td></tr>

	<tr><td><br></td></tr>
	<table style="width:100%;" class="table-bordered">
		<tr>
			<th align="left">S.No</th>
			<th align="left">Name</th>
			<th align="left">Course</th>
			<th align="left">H.T.No.</th>
			<th align="left">Duration</th>
			<th align="left">Type of Stydy</th>
		</tr>
		<tr>
			<td>1</td>
			<td><%=@verification_stub.name%></td>
			<td><%=@verification_stub.course%></td>
			<td><%=@verification_stub.hallticket_no%></td>
			<td><%=@verification_stub.course_duration%></td>
			<td><%=@verification_stub.type_of_studies%></td>
		</tr>
	</table>
	<%if !@verification_stub.remarks.blank? %>
		<tr><td><br><br></td></tr>
		<tr><td style="width:100%;" colspan="2"><strong>Remarks:&nbsp;</strong><%=@verification_stub.remarks%></td></tr>
	<%end%>
	<tr><td><br><br><br></td></tr>
	<tr><td>Yours faithfully,</td></tr>
	<tr><td><br></td></tr>
	<tr class="report_letter_head">
		<td><img src="<%=@college.report_datum.signature.url%>"/></td>
	</tr>
	<tr><td><br></td></tr>
	<tr><td><%=@college.report_datum.designation%></td></tr>

</table>