<div class="page" id="top">            
    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-50 " data-background=<%= asset_url("full-width-images/landing.jpg")%> style='background-image:url(<%= asset_url("full-width-images/landing.jpg")%>)' id="home">
       <div class="container">            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text" style="    padding: 100px 0px 45px 0px;">
                    
                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                       Verification
                    </h1>                    
                    <div class="local-scroll hidden-xs">
                       <%= link_to "Apply", apply_path, :class => "btn btn-mod btn-border-w btn-medium btn-round" %>
                        <span>&nbsp;</span>
                        <%= link_to "Status", status_path, :class => "btn btn-mod btn-border-w btn-medium btn-round", :style =>"background: #fff;color: #111;border-color: transparent;" %>
                        <span>&nbsp;</span>
                        <%= link_to "History", history_path, :class => "btn btn-mod btn-border-w btn-medium btn-round" %>
                    </div>                    
                </div>
            </div>
            <!-- End Hero Content -->            
       </div>
    </section>
    <!-- End Home Section -->


    <!-- Section -->
    <section class="small-section" id="multi-page">
        <div class="container relative">            
            <!--<h2 class="section-title font-alt mb-60 mb-sm-30">
                Multi Page Demo
            </h2> -->            
            <div class="row">
                <div class="mb-40 table-responsive ">
                    <%= form_tag(:status, :method => "get", :html => { :class => 'form contact-form', :id => 'contact_form'}) do %>
                        <div class="clearfix">                                                  
                            <div class="form-group row">
                                <div class="col-md-5">
                                    <input type="text" name="search_tag" id="search_tag" class="input-md round form-control" placeholder="Search by name or hallticket number">
                                </div>
                                <div class="col-md-2">
                                    <%= submit_tag "Search", :class => "submit_btn btn btn-mod btn-medium btn-round"%>
                                </div> 
                            </div>
                        </div>
                    <% end %> 
                    <% if @verifications.blank? %>    
                        <div class="jumbotron align-center">
                            <p>You have no documents submitted yet. Please <%= link_to "apply", apply_path%> for document verification  </p>
                        </div>
                    
                    
                    <%else%>
                        <table class="table table-striped ">
                            <thead>
                              <tr>
                                <th>Sl no.</th>
                                <th><%= sortable "name", "Name" %></th>
                                <th><%= sortable "hallticket_no", "Hallticket Number" %></th>
                                <th>Document Link</th>
                                <th><%= sortable "amount", "Amount" %></th>
                                <th>Service Tax</th>
                                <!-- 
                                    <th><%= sortable "course", "Course" %></th>
                                    <th><%= sortable "type_of_studies", "Type of Studies" %></th>
                                    <th><%= sortable "course_duration", "Course Duration" %></th>
                                    <th><%= sortable "remarks", "Remarks" %></th>
                                    <th><%= sortable "class_awarded", "Class Awarded" %></th> 
                                -->
                                <th>Requested on</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                            <% @verifications.each_with_index do |verification, i| %>
                                <tr>
                                    <td><%=i+1%></td>
                                    <td><%=verification.name%></td>
                                    <td><%=verification.hallticket_no%></td>
                                    <td><a href="<%=verification.document_link%> " target="blank"><i class="fa fa-download dark"></i></a>       </td>
                                    <td><%=verification.amount%></td>
                                    <td><%=verification.service_tax.round(2)%></td>
                                    <!--
                                        <td><%=verification.course%></td>
                                        <td><%=verification.type_of_studies%></td>
                                        <td><%=verification.course_duration%></td>
                                        <td><%=verification.remarks%></td>
                                        <td><%=verification.class_awarded%></td> 
                                    -->
                                    <td><%=local_time(verification.created_at, '%d/%m/%Y %H:%M%p')%></td>
                                    <%if verification.verification_status_id != 1%>
                                        <td style="cursor: pointer;"><a class="show_verification_details">Show details</a></td>
                                    <%else%>
                                        <td></td>
                                    <%end%>
                                </tr>
                                <tr class="verification_details" style="display: none; padding: 10px">
                                    <td colspan="2"></td>
                                    <td colspan="5">                             
                                        <div class="row mb-10">
                                            <div class="col-md-4 hs-line-8 no-transp font-alt" style="text-transform: inherit !important;">Course</div>
                                            <div class="col-md-8 hs-line-8 no-transp font-alt" style="text-transform: inherit !important;"><%=verification.course%></div>
                                        </div>                                      
                                        <div class="row mb-10">
                                            <div class="col-md-4 hs-line-8 no-transp font-alt" style="text-transform: inherit !important;">Type of studies</div>
                                            <div class="col-md-8 hs-line-8 no-transp font-alt" style="text-transform: inherit !important;"><%=verification.type_of_studies%></div>
                                        </div>                                     
                                        <div class="row mb-10">
                                            <div class="col-md-4 hs-line-8 no-transp font-alt" style="text-transform: inherit !important;">Course duration</div>
                                            <div class="col-md-8 hs-line-8 no-transp font-alt" style="text-transform: inherit !important;"><%=verification.course_duration%></div>
                                        </div>                                       
                                        <div class="row mb-10">
                                            <div class="col-md-4 hs-line-8 no-transp font-alt" style="text-transform: inherit !important;">Class awarded</div>
                                            <div class="col-md-8 hs-line-8 no-transp font-alt" style="text-transform: inherit !important;"><%=verification.class_awarded%></div>
                                        </div>                                       
                                        <div class="row mb-10">
                                            <div class="col-md-4 hs-line-8 no-transp font-alt" style="text-transform: inherit !important;">Remarks</div>
                                            <div class="col-md-8 hs-line-8 no-transp font-alt" style="text-transform: inherit !important;"><%=verification.remarks%></div>
                                        </div>
                                        <div class="row mb-10">
                                            <div class="col-md-12 align-right no-transp font-alt" style="text-transform: inherit !important;">
                                                <a href="/final_report.pdf?verification_id=<%=verification.id%>" target="blank"><i class="fa fa-download dark"></i>&nbsp;Click to download report</a>
                                            </div>
                                        </div>                                       
                                    </td>
                                    <%if verification.verification_status_id != 1%>
                                        <td></td>
                                    <%else%>
                                        <td></td>
                                    <%end%>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                        <%= will_paginate @verifications %>

                    <%end%>

                </div> 
            </div>            
        </div>
    </section>
    <!-- End Section -->
</div>