<% provide(:title, 'Report') %>
<section class="home-section bg-dark-alfa-50 " data-background=<%= asset_url("full-width-images/landing.jpg")%> style='background-image:url(<%= asset_url("full-width-images/landing.jpg")%>)' id="home">
  <div class="container">            
      <!-- Hero Content -->
      <div class="home-content">
          <div class="home-text" style="    padding: 100px 0px 45px 0px;">
              
              <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                Report - <%=current_user.college.name%>
              </h1>                                      
          </div>
      </div>
      <!-- End Hero Content -->            
  </div>
</section>

<section class="page-section" style="padding-top: 80px; background-color: #D4D4D4;">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@report_datum, multipart: true, :html => {:class => 'form contact-form', :id => 'contact_form'}) do |f| %>
      <% if @report_datum.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@report_datum.errors.count, "error") %> prohibited this report_datum from being saved:
          </h2>

          <ul>
            <% @report_datum.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="clearfix align-centre">  
      <p id="notice"><%= notice %></p> 
        <div style="padding: 40px; background-color: white; border-radius: 5px; box-shadow: 1px 1px 6px;">
        
          

          <div class="form-group" style="display: none;">
              <%= f.text_field :college_id , :value => @report_datum.college_id%>
          </div>
          <div class="form-group" style="display: none;">
              <%= f.file_field :header, :accept => "image/*" %>
          </div>
          <div class="form-group" style="display: none;">
              <%= f.file_field :signature, :accept => "image/*" %>
          </div>
            
          <div class="row image_preview_box" title="Header image">
            <div class="change_image_button" id="cib1">
              Click to change
            </div>
            <img id="header_preview" src="<%= @report_datum.header.url %>" style="width: 100%; "/>
          </div>
          <br>
          <div class="row" title="From address">
            <div class="col-md-6" style="padding-left: 0;">
              <div class="form-group">
                  <%= f.text_area :from_address , :class => "input-md round form-control", :placeholder =>"From Address", :rows => "4", :value => @report_datum.from_address, :style => "width: 50%;" %>
              </div> 
            </div>
            <div class="col-md-6 align-right" title="Letter date will be auto-filled when report is generated">
              DATE
            </div>
          </div>
          <div class="row">
            <div class="form-group" title="Letter title">
                <%= f.text_field :letter_title , :class => "input-md round form-control",:placeholder =>"Letter Title", :type => "text", :required => true, :value => @report_datum.letter_title %>
            </div> 
          </div>
          <div class="row">

            <div class="form-group" title="To address">
                <%= f.text_area :to_address , :class => "input-md round form-control", :placeholder =>"To Address", :rows => "4", :value => @report_datum.to_address, :style => "width: 25%;" %>
            </div> 
          </div>
          <br/><br/>Sir/Madam,<br/><br/>
          <div class="row">

            <div class="form-group" title="Subject">
                <%= f.text_field :subject , :class => "input-md round form-control",:placeholder =>"Subject", :type => "text", :required => true, :value => @report_datum.subject %>
            </div> 
          </div>
          <br/>
          <div class="row">

            <div class="form-group" title="Body">
                <%= f.text_area :body , :class => "input-md round form-control",:placeholder =>"Body", :type => "text", :rows => "15", :value => @report_datum.body %>
            </div> 
          </div>
          <br><br><br>Yours Faithfully,
          <div class="row image_preview_box" title="Signature">
          <div class="change_image_button" id="cib2">
              Click to change
            </div>
            <img id="signature_preview" src="<%= @report_datum.signature.url %>"/>
          </div>
          <div class="row">

            <div class="form-group" title="Designation">
                <%= f.text_area :designation, :class => "input-md round form-control",:placeholder =>"Designation", :type => "text", :rows => "3", :value => @report_datum.designation, :style => "width: 20%;" %>
            </div> 
          </div>

        </div>     
      </div>
          
      <div class="clearfix">

        <!-- Send Button -->
        <div class="align-right pt-10 form-group">
            <!-- <button class="submit_btn btn btn-mod btn-medium btn-round" id="submit_btn">Submit Message</button> -->
            <%= f.submit "Update", :class => "submit_btn btn btn-mod btn-medium btn-round"%>
        </div>         
                
      </div>            
    <% end %>

  </div>
</section>
