
<%= content_tag "div", id: "colleges", data: {url: @all_colleges } do %><% end %>
<!-- Page Wrap -->
<div class="page" id="top">
    <!-- Page Loader -->       
    <!-- <div class="page-loader">
        <div class="loader">Loading...</div>
    </div> -->
    <!-- End Page Loader -->
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
            
    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-30 parallax-2"  style='/*background-color: #174969;*/ background-image:url(<%= image_path("backgrounds/home.jpg")%>) ' id="home" data-background=<%= image_path("backgrounds/home.jpg")%> >
        <div class="js-height-full">
            
            <!-- Hero Content -->
            <div class="home-content container">
                <div class="home-text">
                    
                    <!-- <h1 style="font-size: 20px;" class="hs-line-8 font-alt mb-50 mb-xs-30">
                        Verification Simplified
                    </h1>
 -->                    
                    <h2 style="font-size: 60px;letter-spacing: 0;font-weight: 800;font-family: Kanit, serif;" class="hs-line-11 font-alt mb-50 mb-xs-30">
                        VERIFICATION SIMPLIFIED
                    </h2>
                    

                    <div id="search-container" class="form align-center" style="position: absolute; width: 100%;">
                        <div class="row" style="margin: 0 auto; max-width: 700px;">
                            <div class="col-md-1"></div>
                            <div class="mb-20 col-md-8" style="max-width: 387px; margin: 5px auto;">
                                <input id="college-search" placeholder="Search Colleges" class="search-field form-control input-md round mb-xs-10" type="text" style="max-width: 100%;background-color: rgba(0,0,0,0.3);color: white;font-weight: 500;"/>
                                <div id="search-result" style="width: 100%;text-align: left;"></div>
                            </div>
                            <div class="col-md-3" style="margin-top: 16px;">
                                <%= link_to "View all colleges",search_page_path,:style=>"font-size: 14px; font-weight: 900; padding-top: 13px; color: #ff9c00; text-transform: uppercase;"%></div>
                            </div>
                    </div>
                    <!-- <i style="display: none; -webkit-animation: spinner 3s infinite linear; -moz-animation: spinner 3s infinite linear; -ms-animation: spinner 3s infinite linear; -o-animation: spinner 3s infinite linear; animation: spinner 3s infinite linear;" id="e_verification_loader" class="fa fa-gear dark"></i> -->
                        </div>
                    </div>
                    

                </div>
            </div>
            <!-- End Hero Content -->
            
            <!-- Scroll Down -->
            <!-- <div class="local-scroll">
                <a href="#about" class="scroll-down"><i class="fa fa-angle-down scroll-down-icon"></i></a>
            </div>
 -->            <!-- End Scroll Down -->
            
        </div>
    </section>
    <!-- End Home Section -->
    
    <!-- About Section -->
    <section class="section" id="about">
        <div class="container relative about-section" style="text-align: center;">
            
            <h2 style="font-size: 45px;letter-spacing: 0;font-weight: 800;font-family: Kanit, serif; color: white" class="hs-line-11 font-alt mb-30 mb-xs-10">ABOUT US</h2>            
            <div class="section-text mb-50 mb-sm-20" style="font-family: Courgette, serif; font-size: 21px; color: #527a93;">
                <p>The role of education verification is mandatory and difficult for organizations to meet industry standards while hiring. Enquiring through phone, email and fax, couriering the documents, running to banks to raise drafts is a tedious process for employers. Verify Online is a brainchild of our founders who are in to HR Support Services and Background Verification services for several years, all to simplify the process of education verification. </p>
            </div>
            
        </div>
    </section>
    <!-- End About Section -->
    
    <section class="section mt-70" style="margin: 120px 0 100px 0;">
        <div class="container relative">
            <h2 style="font-size: 40px;letter-spacing: 0;font-weight: 800;font-family: Kanit, serif; color: #040F16;" class="section-title hs-line-11 font-alt mb-50 mb-xs-30">
                        Why Universities choose us
                    </h2>  

            <div class="row multi-columns-row alt-features-grid">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span class="icon-phone"></span> -->
                            <img src=<%=image_path("icons/01.png")%> alt="icon" style="width: 70px;">
                        </div>
                        <h3 style="font-family: Roboto, serif; font-size: 15px; text-transform: none; color: #333">Avoid verification calls and emails</h3>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span class="icon-wallet"></span> -->
                            <img src=<%=image_path("icons/02.png")%> alt="icon" style="width: 70px;">
                        </div>
                        <h3 style="font-family: Roboto, serif; font-size: 15px; text-transform: none; color: #333">Competing prices and minimal human resources</h3>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span class="icon-linegraph"></span> -->
                            <img src=<%=image_path("icons/03.png")%> alt="icon" style="width: 70px;">
                        </div>
                        <h3 style="font-family: Roboto, serif; font-size: 15px; text-transform: none; color: #333">High security and revenue generation</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="page-section pt-0 pb-0 banner-section bg-dark-alfa-50" data-background=<%= image_path("backgrounds/bg1.jpg")%> style='background-image:url(<%= image_path("backgrounds/bg1.jpg")%>);'>
        <div class="container relative" style="padding: 130px 50px; text-align: center;">
            <h2 style="font-size: 45px;letter-spacing: 0;font-weight: 800;font-family: Kanit, serif; color: white" class="hs-line-11 font-alt mb-30 mb-xs-10">Looking to register your college with us?</h2>      
            <a href="/#contact" class="btn btn-mod btn-w btn-medium btn-action">Lets talk</a>
        </div>
    </section>
    
    <section class="section mt-70" style="margin-bottom: 100px;">
        <div class="container relative">
            <h2 style="font-size: 40px;letter-spacing: 0;font-weight: 800;font-family: Kanit, serif; color: #040F16;" class="section-title hs-line-11 font-alt mb-50 mb-xs-30">Why Users choose us</h2>  

            <div class="row multi-columns-row alt-features-grid">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span class="icon-clock"></span> -->
                            <img src=<%=image_path("icons/11.png")%> alt="icon" style="width: 70px;">
                        </div>
                        <h3 style="font-family: Roboto, serif; font-size: 15px; text-transform: none; color: #333">Fast turn-around time</h3>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span class="icon-chat"></span> -->
                            <img src=<%=image_path("icons/12.png")%> alt="icon" style="width: 70px;">
                        </div>
                        <h3 style="font-family: Roboto, serif; font-size: 15px; text-transform: none; color: #333">24x7 Email Support</h3>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <!-- <span class="icon-layers"></span> -->
                            <img src=<%=image_path("icons/13.png")%> alt="icon" style="width: 70px;">
                        </div>
                        <h3 style="font-family: Roboto, serif; font-size: 15px; text-transform: none; color: #333">Instant email reports</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

        
    <section class="page-section pt-0 pb-0 banner-section bg-dark-alfa-50" data-background=<%= image_path("backgrounds/bg2.jpg")%> style='background-image:url(<%= image_path("backgrounds/bg2.jpg")%>);'>
        <div class="container relative" style="padding: 130px 50px; text-align: center;">
            <h2 style="font-size: 40px;letter-spacing: 0;font-weight: 800;font-family: Kanit, serif; color: white;" class="section-title hs-line-11 font-alt mb-50 mb-xs-30">Want to get your documents verified?</h2>  
            <a href="/login" class="btn btn-mod btn-w btn-medium btn-action">Register Now</a>
        </div>
    </section>    

    <!-- Contact Section -->
    <section class="page-section" id="contact" style="background-color: #040F16;">
        <div class="container relative">
            
            <h2 style="font-size: 40px;letter-spacing: 0;font-weight: 800;font-family: Kanit, serif; color: white;" class="section-title hs-line-11 font-alt mb-50 mb-xs-30">Contact</h2>
            
            <div class="row mb-60 mb-xs-40">
                <div class="col-md-3 col-md-offset-2">
                    <div class="row mb-30">
                        <div class="contact-item">
                            <!-- <div class="ci-icon">
                                <i class="fa fa-phone"></i>
                            </div>-->
                            <div class="ci-title font-alt" style="color: white;">
                                Call Us
                            </div>
                            <div class="ci-text" style="color: white; font-weight: 300; font-family: Roboto;">
                                +91 910 077 2126
                            </div>
                        </div>
                    </div>
                    <div class="row mb-30">
                        <div class="contact-item">
                            <!-- <div class="ci-icon">
                                <i class="fa fa-map-marker"></i>
                            </div> -->
                            <div class="ci-title font-alt" style="color: white;">
                                Address
                            </div>
                            <div class="ci-text" style="color: white; font-weight: 300; font-family: Roboto;">
                                467, Ayyappa Society <br>Madhapur, Hyderabad <br>Telangana - 500081
                            </div>
                        </div>
                    </div>
                    <div class="row mb-30">
                        <div class="contact-item">
                            <!-- <div class="ci-icon">
                                <i class="fa fa-envelope"></i>
                            </div> -->
                            <div class="ci-title font-alt" style="color: white;">
                                Email
                            </div>
                            <div class="ci-text" style="color: white; font-weight: 300; font-family: Roboto;">
                                <a href="mailto:support@verifyonline.in" style="color: white;">support@verifyonline.in</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <%= form_tag(:contact_create, :method => "post", :html => { :class => 'form contact-form', :id => 'contact_form'}) do %>
                        <div class="clearfix">
                                
                            <!-- Name -->
                            <div class="form-group">
                                <input type="text" name="name" id="name" class="input-md round form-control" placeholder="Name" required>
                            </div>
                            
                            <!-- Email -->
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="input-md round form-control" placeholder="Email" required>
                            </div>
                            
                            <!-- Message -->
                            <div class="form-group">                                            
                                <textarea name="message" id="message" class="input-md round form-control" style="height: 84px;" placeholder="Message"></textarea>
                            </div>
                            
                        </div>
                        
                        <div class="clearfix">
                            
                            <div class="cf-left-col">
                                
                                <!-- Inform Tip -->                                        
                                <div class="form-tip pt-20">
                                    <i class="fa fa-info-circle"></i>&nbsp;Provide your designation and phone number if contacting on behalf of a college
                                </div>
                                
                            </div>
                            
                            <div class="cf-right-col">
                                
                                <!-- Send Button -->
                                <div class="align-right pt-10">
                                    <button type="submit" class="submit_btn btn btn-mod btn-medium btn-action" id="submit_btn">Send</button>
                                </div>
                                
                            </div>
                            
                        </div>
                    <% end %>  
                </div>
            
        </div>
    </section>
    <!-- End Contact Section -->    

    
</div>
<!-- End Page Wrap -->    




